header {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 7;
}

nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #65233e;
  background-attachment:fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

