@font-face {
	font-family: 'GeosansLight-NMS';
	src: url('GeosansLight-NMS.eot');
	src: url('GeosansLight-NMS.eot?#iefix') format('embedded-opentype'),
		url('GeosansLight-NMS.woff2') format('woff2'),
		url('GeosansLight-NMS.woff') format('woff'),
		url('GeosansLight-NMS.ttf') format('truetype'),
		url('GeosansLight-NMS.svg#GeosansLight-NMS') format('svg');
	font-weight: 300;
	font-style: normal;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #65233e;
  background-attachment:fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
header {
	padding-top: 50px;
	margin-bottom: -150px;
}
nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    background-color: rgba(101,35,62,0.8);
    margin-bottom: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: GeosansLight-NMS;

}

.link {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}


article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
    margin-top: 100px;
}

.facts {
    display: flex;
    flex-direction: column;
}

.box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  font-family: GeosansLight-NMS;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;

}

.title {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: GeosansLight-NMS;
  background-color: rgba(0,0,0,0.65);
  margin-bottom: 5px;
  border-radius: 10px;
}

.contentvideo {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.video {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.youtube {
  display: flex;
  flex-direction: row;

}

.filler {
  display: flex;
  flex-grow: 8;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: GeosansLight-NMS;
  flex-direction: column;
  color: white;
}

.seanmurray {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-top: solid white 2px;
  border-left: solid white 2px;
  border-right: solid white 4px;
  border-bottom: solid white 4px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.photo {
  max-width: 100%;
  height: auto;
}
.screenshots {
  background-color: #65233e;
  padding: 20px;
}

.articless {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 100px;
}

.titless {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 5;
  background-color: #65233e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 15px;
  font-family: GeosansLight-NMS;
}

.videofacts {
  display: flex;
  flex-direction: column;
}

.buy {
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  color: white;
  background-color: rgba(101,35,62,0.8);
  text-decoration: none;
  font-family: GeosansLight-NMS;
}

.general {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: GeosansLight-NMS;
  color: white;
}

.break {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.factsbox {
  display: flex;
  flex-direction: column;
}

.titlefacts {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: GeosansLight-NMS;
  background-color: rgba(0,0,0,0.65);
  margin-bottom: 5px;
  border-radius: 10px;
}

.titlebreak {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: GeosansLight-NMS;
  background-color: rgba(0,0,0,0.65);
  margin-bottom: 5px;
  border-radius: 10px;
}

